body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0; /* Zapewniają odpowiednią wysokość nagłówka i wyśrodkowanie pionowe */
    text-align: center;
}
header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around; /* równomiernie rozłoży linki */
    align-items: center;
    background-color: #333;
    flex-wrap: wrap; /* pozwoli na przeniesienie linków na nową linię w razie potrzeby */
    color: white;
    padding: 10px 0; /* Zaktualizuj padding, jeśli to konieczne */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* dostosuj padding, aby był odpowiedni dla twojego designu */
    white-space: nowrap; /* zapobiega łamaniu się tekstu linków */
}

section, .user-panel, .user-panel-section, .login-form, .register-form {
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.topnav, .section-title, .service-list, .service-list li, .signup-link, .login-link, .saved-plan-details {

}


.login-form, .register-form, .training-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type="text"], input[type="password"], input[type="submit"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Link Styles */
.signup-link a, .login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
.signup-link a {
    color: white;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    float: right;
}

.signup-link a:hover {
    background-color: #0056b3;
    text-decoration: none;
}
.topnav {
    position: absolute;
    right: 10px;
    top: 10px;
}
.topnav-right {
    position: absolute;
    right: 10px;
    top: 10px;
}

.topnav-right a {
    margin-left: 20px; /* Dodaje odstęp między linkami */
}

.topnav a {
    margin-left: 20px; /* Dodaje odstęp między linkami */
}

.topnav a:last-child {
    margin-left: auto; /* Wypycha ostatni link do prawej strony */
}
.form-row {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="number"], select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px; /* Usunięte margin-top */
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%; /* Żeby przycisk rozciągał się na całą szerokość dostępnego miejsca */
    /* Reszta CSS dla przycisku */
}