body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

section, .user-panel, .user-panel-section, .login-form, .register-form {
    padding: 20px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.topnav, .section-title, .service-list, .service-list li, .signup-link, .login-link, .saved-plan-details {

}


.login-form, .register-form, .training-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type="text"], input[type="password"], input[type="submit"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Link Styles */
.signup-link a, .login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
.signup-link a {
    color: white;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    float: right;

}

.signup-link a:hover {
    background-color: #0056b3;
    text-decoration: none;
}