<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utwórz plan treningowy</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
</head>
<body>
    <header>
        <h1>Twój Plan Treningowy</h1>
    </header>
    <nav>
        <a href="{% url 'crosfat:user' %}">Cofnij</a>
    </nav>
    <section class="user-panel">
        <div class="training-form">
            <h2>Twój Plan Treningowy</h2>
            <form action="{% url 'crosfat:submit_training_plan' %}" method="post">
                {% csrf_token %}
                <label for="waga">Waga (kg):</label>
                <input type="number" id="waga" name="waga" required><br>

                <label for="wzrost">Wzrost (cm):</label>
                <input type="number" id="wzrost" name="wzrost" required><br>
                <label for="wiek">wiek:</label>
                <input type="number" id="wiek" name="wiek" required><br>
                <label for="PLEC">Plec:</label>
                <select id="PLEC" name="PLEC" required>
                    <option value="K">Kobieta</option>
                    <option value="M">Mężczyzna</option>
                </select>

                <label for="cel">Cel Treningowy:</label>
                <select id="cel" name="cel" required>
                    <option value="" disabled selected>Wybierz cel</option>
                    <option value="utrata-wagi">Utrata wagi</option>
                    <option value="budowa-masy-miesniowej">Budowa masy mięśniowej</option>
                    <option value="poprawa-wytrzymalosci">Poprawa wytrzymałości</option>
                    <option value="inne">Inne</option>
                </select><br>

                <input type="submit" value="Zapisz Plan">
            </form>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Twój Plan Treningowy. Wszelkie prawa zastrzeżone.</p>
    </footer>
</body>
</html>
