<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utworz plan treningowy</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
</head>
<body>
    <header>
        <h1>Twój Plan Treningowy</h1>
    </header>
    <nav>
        <a href="{% url 'user' %}" style="float:right;">Cofnij</a>
        <br>
    </nav>
    <section class="user-panel">
        <div class="user-panel-section training-form">
            <h2>Twój Plan Treningowy</h2>
            <form action="/submit_training_plan" method="post">
                <label for="waga">Waga (kg):</label>
                <input type="number" id="waga" name="waga" required>

                <label for="wzrost">Wzrost (cm):</label>
                <input type="number" id="wzrost" name="wzrost" required>

                <label for="cel">Cel Treningowy:</label>
                <select id="cel" name="cel" required>
                    <option value="" disabled selected>Wybierz cel</option>
                    <option value="utrata-wagi">Utrata wagi</option>
                    <option value="budowa-masy-miesniowej">Budowa masy mięśniowej</option>
                    <option value="poprawa-wytrzymalosci">Poprawa wytrzymałości</option>
                    <option value="inne">Inne</option>
                </select>
                <br>
                <input type="submit" value="Zapisz Plan">
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Twój Plan Treningowy. Wszelkie prawa zastrzeżone.</p>
    </footer>
</body>
</html>