<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
    <title>Moje Plany Treningowe</title>
</head>
<body>
    <header>
        <h1>CrosFat</h1>
        <div class="topnav">
            <a href="{% url 'crosfat:wyloguj' %}" style="float:right;">Wyloguj</a>
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'crosfat:Dane' %}">Moje Dane</a>
            <a href="{% url 'crosfat:create' %}">Utwórz plan</a>
            <a href="{% url 'crosfat:Plans' %}">Moje plany</a>
            <a href="{% url 'crosfat:Edit' %}">Edytuj dane</a>
        </nav>
        {% block content %}
    <h2>Profil użytkownika</h2>
    <p>Nazwa użytkownikaa: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <p>Imię: {{ first_name }}</p>
    <p>Nazwisko: {{ last_name }}</p>
{% endblock %}
    <footer>
        <p>&copy; 2023 CrosFat</p>
    </footer>
</body>
</html>