<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
</head>
<body>
<header>
        <h1>CrosFat</h1>
        <div class="topnav">
            <a href="{% url 'crosfat:wyloguj' %}" style="float:right;">Wyloguj</a>
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'crosfat:create' %}">Utworz plan</a>
            <a href="{% url 'crosfat:Plans' %}">Moje plany</a>
            <a href="{% url 'crosfat:Edit' %}">Edytuj dane</a>
        </nav>

   <form method="post" action="{% url 'crosfat:user' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Zapisz Zmiany">
</form>

      <footer>
        <p>&copy; 2023 CrosFat</p>
      </footer>
    </main>
</body>
</html>