<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Planów Treningowych</title>
    <header>
        <h1>CrosFat</h1>
        <div class="signup-link">
            <a href="{% url 'crosfat:wyloguj' %}" style="float:right;">Wyloguj</a>
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'crosfat:user' %}">Moje Dane</a>
            <a href="{% url 'crosfat:create' %}">Utworz plan</a>
            <a href="{% url 'crosfat:lista_planow' %}">Moje plany</a>
            <a href="{% url 'crosfat:Edit' %}">Edytuj dane</a>
        </nav>
</head>
<body>
     <h1>Lista Planów Treningowych</h1>
    <ul>
        {% for plan in plany %}
                <li><a href="{% url 'crosfat:plan_details' plan.id %}">Plan Treningowy {{ plan.id }}</a></li>
        {% empty %}
            Brak Planow
        {% endfor %}
        </ul>
</body>
 <footer>
        <p>&copy; 2023 CrosFat</p>
      </footer>
</html>
