<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
    <title>Moje Plany Treningowe</title>
</head>
<body>
    <header>
        <h1>CrosFat</h1>
        <div class="signup-link">
            <a href="{% url 'crosfat:wyloguj' %}" style="float:right;">Wyloguj</a>
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'crosfat:user' %}">Moje Dane</a>
            <a href="{% url 'crosfat:create' %}">Utwórz plan</a>
            <a href="{% url 'crosfat:lista_planow' %}">Moje plany</a>
            <a href="{% url 'crosfat:Edit' %}">Edytuj dane</a>
        </nav>
        <h2>Moj Plany Treningowe</h2>
        <table>
            <thead>
                <tr>
                    <th> Data pomiaru </th>
                    <th>Waga (kg)</th>
                    <th>Wzrost (cm)</th>
                    <th>Cel Treningowy</th>
                    <th>Aktualne bmi</th>
                    <!-- Dodatkowe nagłówki jeśli potrzebne -->
                </tr>
            </thead>
            <body>
    <h1>Szczegóły Planu Treningowego</h1>
    <p>Data pomiaru: {{ plan.data }}</p>
    <p>Waga (kg): {{ plan.waga }}</p>
    <p>Wzrost (cm): {{ plan.wzrost }}</p>
    <p>Cel Treningowy: {{ plan.cel }}</p>
    <p>Aktualne BMI: {{ plan.bmi }}</p>
</body>
        </table>
    </main>
    <footer>
        <p>&copy; 2023 CrosFat</p>
    </footer>
</body>
</html>
