<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
    <title>Moje Plany Treningowe</title>
</head>
<body>
    <header>
        <h1>CrosFat</h1>
        <div class="signup-link">
            <a href="{% url 'crosfat:wyloguj' %}" style="float:right;">Wyloguj</a>
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'crosfat:user' %}">Moje Dane</a>
            <a href="{% url 'crosfat:create' %}">Utwórz plan</a>
            <a href="{% url 'crosfat:lista_planow' %}">Moje plany</a>
            <a href="{% url 'crosfat:Edit' %}">Edytuj dane</a>
        </nav>
        <h2>Moj Plany Treningowe</h2>
        <table>
            <thead>
                <tr>
                    <th> Data pomiaru </th>
                    <th>Waga (kg)</th>
                    <th>Wzrost (cm)</th>
                    <th>Cel Treningowy</th>
                    <th>Aktualne bmi</th>
                    <th>Zapotrzebwanie kaloryczne (kcal)</th>
                </tr>
            </thead>
            <body>
    <h1>Szczegóły Planu Treningowego</h1>
    <p>Data pomiaru: {{ plan.data }}</p>
    <p>Waga (kg): {{ plan.waga }}</p>
    <p>Wzrost (cm): {{ plan.wzrost }}</p>
    <p>Cel Treningowy: {{ plan.cel }}</p>
    <p>Aktualne BMI: {{ plan.bmi }}</p>
            <p>Zapotrzebowanie kaloryczne( kcal): {{ plan.kcal }} </p>
</body>
        </table>
    {% for day in "123" %}
        <p>Dzień: {{ day }}</p>
        {% for cwiczenie in cwiczenia %}
    <div>

        {% if cwiczenie.cwiczenie_utrata_wagi %}
            <p>Ćwiczenie (utrata wagi): {{ cwiczenie.cwiczenie_utrata_wagi.nazwa }} - {{ cwiczenie.cwiczenie_utrata_wagi.ilosc_pow }} powtórzeń</p>
        {% elif cwiczenie.cwiczenie_budowa_masy_miesniowej %}
            <p>Ćwiczenie (budowa masy): {{ cwiczenie.cwiczenie_budowa_masy_miesniowej.nazwa }} - {{ cwiczenie.cwiczenie_budowa_masy_miesniowej.ilosc_pow }} powtórzeń</p>
        {% elif cwiczenie.cwiczenie_poprawa_wytrzymalosci %}
            <p>Ćwiczenie (poprawa wytrzymałości): {{ cwiczenie.cwiczenie_poprawa_wytrzymalosci.nazwa }} - {{ cwiczenie.cwiczenie_poprawa_wytrzymalosci.ilosc_pow }} powtórzeń</p>
        {% endif %}
    </div>
{% endfor %}
        {% endfor %}

                </table>
    </main>
    <br><br><br><br>
    <footer>
        <p>&copy; 2023 CrosFat</p>
    </footer>
</body>
</html>
