<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utworz Plan</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
</head>
<body>
    <header>
        <h1>CrosFat</h1>
        <div class="topnav">
            <a href="{% url 'wyloguj' %}" style="float:right;">Wyloguj</a>
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'Utworz plan' %}">Utworz plan</a>
            <a href="#moje plany">Moje plany</a>
            <a href="#Edytuj dane">Edytuj dane</a>
        </nav>
        <section id="Utworz plan">
            <form action="/submit_training_plan" method="post">
                {% csrf_token %}
                <label for="title">Tytuł planu:</label>
                <input type="text" id="title" name="title">

                <label for="description">Opis:</label>
                <textarea id="description" name="description" rows="4"></textarea>

                <label for="exercises">Ćwiczenia:</label>
                <textarea id="exercises" name="exercises" rows="4"></textarea>

                <input type="submit" value="Utwórz plan">
            </form>
        </section>
        <section id="moje plany">
            <h1>Moje plany treningowe</h1>
            <table>
                <thead>
                    <tr>
                        <th>Tytuł</th>
                        <th>Opis</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Plan 1</td>
                        <td>Opis planu 1</td>
                        <td><button>Pokaż</button> <button>Edytuj</button> <button>Usuń</button></td>
                    </tr>
                    <tr>
                        <td>Plan 2</td>
                        <td>Opis planu 2</td>
                        <td><button>Pokaż</button> <button>Edytuj</button> <button>Usuń</button></td>
                    </tr>
                    <!-- Dodaj więcej wierszy w tabeli zgodnie z ilością planów treningowych -->
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
