<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Użytkownika</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crosfat/style1.css' %}">
</head>
<body>
    <header>
        <h1>CrosFat</h1>
        <div class="topnav">
            <a href="{% url 'wyloguj' %}" style="float:right;">Wyloguj</a>
        </div>
    </header>
    <main>
        <nav>
            <a href="{% url 'create' %}">Utworz plan</a>
            <a href="{% url 'Plans' %}">Moje plany</a>
            <a href="{% url 'Edit' %}">Edytuj dane</a>
        </nav>
    </main>
{% block content %}
    <h2>Profil użytkownika</h2>
    <p>Nazwa użytkownikaa: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <p>Imię: {{ first_name }}</p>
    <p>Nazwisko: {{ last_name }}</p>
{% endblock %}
    <footer>
        <p>&copy; 2023 CrosFat</p>
    </footer>
</body>
</html>
